$line-color: #D9D9D9;

.blog-list {
  @apply flex md:flex-row text-t_white flex-col-reverse;

  &--dashed-line {
    border: 0.5px solid $line-color;
    width: 192px;
    margin-bottom: 30px;
  }

  h2 {
    margin-left: .75rem;
    font-size: 27;
    font-weight: regular;
    margin: 13px 0;

    @apply uppercase;
  }

  &__content {
    @apply mx-auto md:w-full max-w-full;
  }

  &__side {
    @apply mx-auto max-w-full;
  }

  &__button {
    @apply flex justify-center m-6;
  }

  &__button button {
    @apply w-32 border-0 bg-transparent text-t_white cursor-pointer;
  }
}
