<div class="blog-list">
  <div class="blog-list__content">
    <section *ngIf="!uploadedContent">
      <app-blog-card-loading></app-blog-card-loading>
      <app-blog-card-loading></app-blog-card-loading>
      <app-blog-card-loading></app-blog-card-loading>
    </section>
    <section *ngIf="uploadedContent">
      <h2>Mais recentes</h2>
      <div *ngFor="let post of posts">
        <app-blog-card [post]="post"></app-blog-card>
      </div>
      <div class="blog-list__button">
        <button (click)="this.loadMorePosts()">Carregar Mais</button>
      </div>
    </section>
  </div>
  <div class="blog-list__side">
    <div>
      <section *ngIf="!uploadedContent">
        <app-blog-side-card-loading></app-blog-side-card-loading>
        <app-blog-side-card-loading></app-blog-side-card-loading>
        <app-blog-side-card-loading></app-blog-side-card-loading>
      </section>
      <section *ngIf="uploadedContent">
        <h2>Animes</h2>
        <div *ngFor="let post of posts">
          <app-blog-side-card [post]="post"></app-blog-side-card>
        </div>
      </section>
    </div>
    <div>
      <section *ngIf="!uploadedContent">
        <app-blog-side-card-loading></app-blog-side-card-loading>
        <app-blog-side-card-loading></app-blog-side-card-loading>
        <app-blog-side-card-loading></app-blog-side-card-loading>
      </section>
      <section *ngIf="uploadedContent">
        <h2>Mangás</h2>
        <div *ngFor="let post of posts">
          <app-blog-side-card [post]="post"></app-blog-side-card>
        </div>
      </section>
    </div>
  </div>
  <div class="blog-list__side">
    <div>
      <section *ngIf="!uploadedContent">
        <app-blog-side-card-loading></app-blog-side-card-loading>
        <app-blog-side-card-loading></app-blog-side-card-loading>
        <app-blog-side-card-loading></app-blog-side-card-loading>
      </section>
      <section *ngIf="uploadedContent">
        <h2>Animes</h2>
        <div *ngFor="let post of posts">
          <app-blog-side-card [post]="post"></app-blog-side-card>
        </div>
      </section>
    </div>
    <div>
      <section *ngIf="!uploadedContent">
        <app-blog-side-card-loading></app-blog-side-card-loading>
        <app-blog-side-card-loading></app-blog-side-card-loading>
        <app-blog-side-card-loading></app-blog-side-card-loading>
      </section>
      <section *ngIf="uploadedContent">
        <h2>Mangás</h2>
        <div *ngFor="let post of posts">
          <app-blog-side-card [post]="post"></app-blog-side-card>
        </div>
      </section>
    </div>
  </div>
</div>
