$primary-black-color: #000000;
$primary-white-color: #ffff;

.blog-posts {
  @apply text-white;

  &__container {
  }

  &__post {
    @apply max-w-3xl overflow-hidden m-auto;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &--reading {
  }

  &--date {
    font-weight: lighter;
    font-size: 12px;
  }

  &----summary {
    font-size: 17px;
  }

  &__content {
    font-size: 17px;
  }

  &__content img {
    max-width: 100%;
    height: auto;
  }
}
