$primary-black-color: #000000;

.blog-posts {
  @apply text-t_white;

  &__container {
  }

  &__post {
    @apply max-w-3xl overflow-hidden m-auto;
  }

  &__post h1 {
    @apply text-5xl font-bold;
  }

  &__image {
    @apply w-full h-auto my-2;
  }

  &--reading {
    @apply my-2;
  }

  &--date {
    @apply font-light text-xs;
  }

  &---summary {
    @apply text-lg;
  }

  &__content {
    @apply mb-7;
  }

  &__content img {
    max-width: 100%;
    height: auto;
  }
}
