<div class="blog-posts" *ngIf="loadingPosts">
<br />
  <div class="blog-posts__container">
    <div class="blog-posts__post">
      <h1>{{ post.title }}</h1>
      <p class="blog-posts--reading">{{ readingTime() }}</p>
      <p class="blog-posts--date">{{ dateStr }}</p>
      <img class="blog-posts__image" src="{{ post.image }}" alt="">
      <app-blog-categories [post]="post"></app-blog-categories>
      <p class="blog-posts--summary">{{ post.summary }}</p>
      <div class="blog-posts__content"
        [innerHTML]="post.content">
      </div>
    </div>
    <div class="blog-posts__side">
    </div>
  </div>
</div>

<div class="blog-posts--loading" *ngIf="loadingPosts == false">
<br />
  <div class="blog-posts--loading__container">
    <div class="blog-posts--loading__post">
      <h1>&nbsp;</h1>
      <div class="blog-posts--loading--date">
        <ul>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        </ul>
      </div>
      <div class="blog-posts--loading__image">
        <img alt="">
      </div>
      <div class="blog-posts--loading__categories">
        <ul>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        </ul>
      </div>
      <div class="blog-posts--loading__content">
        <div class="blog-posts--loading__content--one">
          &nbsp;
        </div>
        <div class="blog-posts--loading__content--two">
          &nbsp;
        </div>
        <div class="blog-posts--loading__content--three">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>









