<div class="blog-post">
  <div>
    {{ currentUser }}
    <button (click)="logout()">logout</button>
  </div>

  <h2>Add a new blog post</h2>
  <form [formGroup]="postForm">
    <div class="blog-post__header">
      <label for="id">Id</label>
      <input formControlName="id" class="form-control" placeholder="Id" type="text">
      <label for="title">Title</label>
      <input formControlName="title" class="form-control" placeholder="Title" type="text">
      <label for="image">URL Image</label>
      <input formControlName="image" class="form-control" placeholder="URL Image" type="text">
    </div>
    <div class="blog-post__category">
      <div>
        <label for="">Category</label>
        <button [ngClass]="{'active': existsCategory(category.name!) }" *ngFor="let category of categories" (click)="pressCategoryPost(category.name!)" >{{ category.name }}</button>
        <!-- <select formControlName="category" id="category">
          <option *ngFor="let category of categories" value="{{ category.name }}">{{ category.name }}</option>
        </select> -->
      </div>
      <button (click)="addCategoryInSelect()">Add new category</button>
    </div>
    <div>
      <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
    </div>

    <div class="blog-post__btns">
      <button (click)="deletePost()">Delete</button>
      <button (click)="updatePost()">Edit</button>
      <button (click)="savePost()">Publish</button>
    </div>
  </form>

</div>
