$date-color: #6C6C6C;
$category-link-color: #ffff;

.blog-categories {
  display: flex;
  flex-wrap: wrap;

  &__category {
    @apply flex justify-center items-center w-[60px] h-[20px] rounded-[10%] mr-2;
  }

  &__category a {
    text-decoration: none;
    font-size: 10px;
    color: $category-link-color;
    font-weight: regular;
  }

  &__category--red {
    @apply bg-t_red;
  }

  &__category--pink {
    @apply bg-t_pink;
  }
}
