<div class="blog-card-loading">
  <div class="blog-card-loading__image">
    <img alt="">
  </div>

  <div class="blog-card-loading__content">
    <div class="blog-card-loading__categories">
      <ul>
        <li><p></p></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <div class="blog-card-loading__title">
      <h2></h2>
    </div>

    <div class="blog-card-loading__summary">
      <p></p>
    </div>

    <div class="blog-card-loading__date">
      <p></p>
    </div>
</div>
