$line-color: #D9D9D9;
$primary-white-color: #ffff;

.blog-list {
  color: $primary-white-color;

  @apply flex flex-row justify-between;

  &--dashed-line {
    border: 0.5px solid $line-color;
    width: 192px;
    margin-bottom: 30px;
  }

  h2 {
    margin-left: .75rem;
    font-size: 27;
    font-weight: regular;
    margin: 13px 0;
  }

  &__side {
    @apply flex flex-row;
  }

  &__side div {
    @apply mx-2;
  }
}
