<div class="blog-card">
  <div class="blog-card__image">
    <img ngOptimizedImage ngSrc="{{ post.image }}" width="200" height="166" alt="" />
  </div>

  <div class="blog-card__content">
    <div class="blog-card__categories">
      <app-blog-categories [post]="post"></app-blog-categories>
    </div>

    <div class="blog-card__title">
      <a [routerLink]="postUrl" class="blog-card__link">
        <h2>{{ post.title }}</h2>
      </a>
    </div>

    <div class="blog-card__summary">
      <p>
        {{ post.summary }}
      </p>
    </div>

    <div class="blog-card__date">
      {{ dateStr }}
    </div>
  </div>
</div>
