$primary-menu-color: #0B0A0A;
$primary-whiter-color: #ffff;

.blog-menu {
  margin-top: .9375rem;
  height: 3.125rem;

  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  &__container {
    width: 82rem;
    background-color: $primary-menu-color;
    border-radius: 10px;

    display: flex;
    justify-content: center;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__links a {
    font-weight: regular;
    margin: auto .75rem;
    color: $primary-whiter-color;
    text-decoration: none;
    text-transform: uppercase;
  }
}
