<div class="blog-menu">
  <div class="blog-menu__container">
    <div class="blog-menu__de">
<div class="blog-menu__links">
  <a href="">Home</a>
  <a href="">Jogos</a>
  <a href="">PC Gamer</a>
  <a href="">E-sport</a>
</div>
<div class="blog-menu__logo">
  <a href="">SiteName</a>
</div>
<div class="blog-menu__search-bar">
  <form>
    <input class="blog-menu__search-bar--input" type="text">
    <button class="blog-menu__search-bar--button">Find</button>
  </form>
</div>
    </div>
  </div>
</div>
