.blog-menu {
  @apply bg-menu py-4 fixed w-screen z-50 left-0 shadow-lg max-w-full
    font-sans font-semibold capitalize;

  &__container {
    @apply flex md:mx-auto md:justify-between md:container sm:justify-center;
  }

  &__de {
     @apply flex md:justify-between flex-grow justify-center;
  }

  &__links {
    @apply md:flex md:flex-row md:justify-center hidden sm:block;
  }

  &__links a {
    @apply text-t_white no-underline my-auto mx-[.75rem]
    hover:text-t_pink hover:uppercase;
  }

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__logo a {
    color: white;
    margin: auto;
  }

  &__search-bar {
    @apply md:flex justify-center hidden sm:block;
  }

  &__search-bar form {
    @apply flex flex-row m-auto;
  }

  &__search-bar--button {
    @apply bg-t_pink m-0 text-white border-[0px] w-[37px] h-[37px]
      rounded-r cursor-pointer;
  }

  &__search-bar--button svg {
    @apply w-4 h-4 m-auto;
  }

  &__search-bar--input {
    @apply bg-main border-none appearance-none outline-none
      text-white w-[275px] h-[37px] rounded rounded-l px-2;
  }
}
