$primary-menu-color: #0B0A0A;
$primary-whiter-color: #ffff;

.blog-menu {
  @apply bg-menu py-4 fixed w-screen z-50 left-0 shadow-lg max-w-full;

  &__container {
    @apply flex mx-auto justify-between container;
  }

  &__de {
     @apply flex justify-between flex-grow;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__links a {
    font-weight: regular;
    margin: auto .75rem;
    color: $primary-whiter-color;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__logo a {
    color: white;
    margin: auto;
  }

  &__search-bar {
    @apply flex justify-center;
  }

  &__search-bar form {
    @apply m-auto;
  }

  &__search-bar--button {
    @apply bg-t_pink m-0 text-white border-[0px] w-[37px] h-[38px]
      rounded-r cursor-pointer;
  }

  &__search-bar--input {
    @apply bg-main border-none appearance-none outline-none
      text-white w-[275px] h-[37px] rounded rounded-l px-2;
  }
}
