.blog-menu {
  @apply bg-menu py-4 fixed w-screen z-50 left-0 shadow-lg max-w-full
    font-sans font-semibold capitalize;

  &__container {
    @apply flex md:mx-auto md:justify-between md:container mx-5;
  }

  &__de {
     @apply flex justify-between flex-grow;
  }

  &__burger-menu {
    @apply md:hidden sm:block cursor-pointer;
  }

  &__burger-menu svg {
    @apply w-8 h-8 m-auto text-white;
  }

  &__search-mobile {
    @apply md:hidden sm:block cursor-pointer;
  }

  &__search-mobile svg {
    @apply w-6 h-6 m-auto text-white;
  }

  &__search-mobile--form {
    @apply absolute top-[25%] right-4 z-10 flex;
  }

  &__search-mobile--form svg {
    @apply w-4 h-4 m-auto;
  }

  &__search-mobile--form input {
    width: 248px !important;
  }

  &__links {
    @apply md:flex md:flex-row md:justify-center hidden sm:block;
  }

  &__links a {
    @apply text-t_white no-underline my-auto mx-[.75rem]
    hover:text-t_pink hover:uppercase;
  }

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__logo a {
    color: white;
    margin: auto;
  }

  &__search-bar {
    @apply md:flex justify-center hidden sm:block;
  }

  &__search-bar form {
    @apply flex flex-row m-auto;
  }

  &__search-bar--button,
  &__search-mobile--form button {
    @apply bg-t_pink m-0 text-white border-[0px] w-[37px] h-[37px]
      rounded-r cursor-pointer;
  }

  &__search-bar--button svg {
    @apply w-4 h-4 m-auto;
  }

  &__search-bar--input, input {
    @apply bg-main border-none appearance-none outline-none
      text-white w-[275px] h-[37px] rounded rounded-l px-2;

  }

  &__list-menu-mobile {
    @apply fixed top-0 w-full h-full bg-t_red opacity-95 flex justify-center items-center
    text-t_white;
  }

  &__list-menu-mobile svg {
    @apply w-14 h-14 fixed top-0 left-0;
  }
}
