.blog-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__content form {
    display: flex;
    flex-direction: column;
  }

  button {
    @apply border mt-4;
  }

  input {
    @apply border;
  }
}
